<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487619816554-m83nhpt38j3csr392t9c989nktaumenv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487619816554-m83nhpt38j3csr392t9c989nktaumenv</string>
	<key>API_KEY</key>
	<string>AIzaSyD8JHdb8ynBUsosy4WFOrB9onSY8TVUQ4E</string>
	<key>GCM_SENDER_ID</key>
	<string>487619816554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.meritokrat.flutter-client-app</string>
	<key>PROJECT_ID</key>
	<string>meritokrat-flutter-client-app</string>
	<key>STORAGE_BUCKET</key>
	<string>meritokrat-flutter-client-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487619816554:ios:4d45f91d34381882ea6e13</string>
	<key>DATABASE_URL</key>
	<string>https://meritokrat-flutter-client-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>